/* General Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  /* 화면의 너비를 100% 차지하도록 설정 */
  z-index: 100; /* 다른 요소 위에 위치 */
}


.logo img {
  height: 30px;
}

nav {
  display: flex;
  justify-content: flex-end !important; /* 요소들을 오른쪽으로 정렬 */
  align-items: center; /* 요소들을 세로축으로 가운데 정렬 */
  padding-right: 20px; /* 오른쪽에 약간의 여백 추가 */
}

.navbar {
  flex-grow: 1; /* Take up remaining space */
}

.navbar ul {
  display: flex;
  align-items: center; /* 요소들을 세로축으로 가운데 정렬 */
  justify-content: flex-end; /* Align nav links to the right */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.auth-buttons {
  display: flex;
  margin-left: 10px;
  margin-right: 50px;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 5px 15px;
  border: 1px solid #333;
  background-color: #fff;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
}

.auth-buttons .register {
  background-color: #333;
  color: #fff;
}
